<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    {{count}}
    <button @click="add()">+</button>
    <button @click="dec()">-</button>
  </div>
</body>
<script>
  const { createApp, ref } = Vue
  createApp({
    setup() {
      const count = ref(0)
      const add = function () {
        count.value = count.value + 1
      }
      const dec = () => {
        if (count.value == 0) return
        count.value = count.value - 1
      }
      setInterval(add, 1000)
      return { count, add, dec }
    }
  }).mount('#app')
</script>

</html>