<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <input type="text" v-model.number="score">
    <button @click="show()">Show</button>
    {{ grade }}
  </div>
</body>
<script>
  const { createApp, ref } = Vue
  createApp({
    setup() {
      const score = ref(0)
      const grade = ref('?')
      function show() {
        if (score.value >= 80) {
          grade.value = 'A'
        } else if (score.value >= 70) {
          grade.value = 'B'
        } else if (score.value >= 60) {
          grade.value = 'C'
        } else if (score.value >= 50) {
          grade.value = 'D'
        } else {
          grade.value = 'F'
        }
      }
      return { score, grade, show }
    }
  }).mount('#app')
</script>

</html>