<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    สวัสดี {{ name }}
    <input type="text" v-model="name">
    <button @click="hello()">Hello</button>
  </div>
</body>
<script>
  const { createApp, ref } = Vue
  createApp({
    setup() {
      const name = ref('Kob')
      const hello = () => {
        console.log('Hello')
      }

      return { name, hello }
    }
  }).mount('#app')
</script>

</html>