<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <input type="text" v-model.number="num1">
    + <input type="text" v-model.number="num2">
    = {{result}} <button @click="calculate()">Calculate</button>
  </div>
</body>
<script>
  const { createApp, ref } = Vue
  createApp({
    setup() {
      const num1 = ref(0)
      const num2 = ref(0)
      const result = ref(0)
      function calculate() {
        result.value = num1.value + num2.value
      }
      return { num1, num2, result, calculate }
    }
  }).mount('#app')
</script>

</html>